$accordion-button-active-bg: #888888;
$accordion-button-active-color: white;
$accordion-icon-active-color: white;
$accordion-padding-y: 1.5rem;
$accordion-border-width: 0;
$accordion-button-focus-box-shadow: none;
$accordion-border-radius: 0;
$form-select-padding-y: 0.65rem;
$form-select-focus-box-shadow: none;
$form-check-input-focus-box-shadow: none;
$tooltip-arrow-color: white;
$tooltip-bg: white;
@import "bootstrap/scss/bootstrap";
